{% extends "bussiness/index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/rwt/busns_editpkge_post/">
  <table width="254" height="210" border="1">
    <tr>
      <td>Amount</td>
      <td>&nbsp;

      <input type="text" name="amount" value="{{ p.amount }}"/> <input type="hidden" name="pid" value="{{ p.id }}"/>

      </td>
    </tr>
    <tr>
      <td>Total Day </td>
      <td>
           <input type="text" name="ttlday" value="{{ p.ttlday }}"/></td>
    </tr>
    <tr>
      <td>Package name </td>
      <td> <input type="text" name="packagenme" value="{{ p.packagenme }}"/>
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit"value="Add"name="submit">
    </tr>
  </table>
</form>
</body>
{% endblock %}
