{% extends "bussiness/index.html" %}
{% block body %}

<body>
<table class="table table-bordered" >
  <tr>
    <th width="60" height="27">Si,no</th>
    <th width="166">Service Name </th>
{#    <th width="60">Type</th>#}
    <th width="60">Price</th>
    <th colspan="2">&nbsp;</th>
  </tr>
    {% for i in res %}

  <tr>
    <td height="25">&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.name }}</td>
{#    <td>&nbsp;</td>#}
    <td>{{ i.price }}</td>
    <td width="58" ><a href="/rwt/busns_editsrvcmngmnt_load/{{ i.id }}" class="btn btn-info">EDIT</a></td>
    <td width="76"><a href="/rwt/busns_delete_srvcmngmnt/{{ i.id }}" class="btn btn-outline-danger">DELETE</a></td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
