{% extends "bussiness/index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/rwt/busns_vwpkgtbl_post/">
  <table width="618" height="179" border="1"class="table table-bordered">
    <tr>
      <td width="233">Day<input type="hidden" value="{{ pid }}" name="pid"/></td>
      <td width="369">
      <input type="number" name="textfield" class="form-control" id="textfield" /></td>
    </tr>
    <tr>
      <td>Food</td>
      <td><input type="checkbox" class="form-control" name="checkbox" value="Break" id="checkbox" />
      <label for="checkbox">Break 
      <input type="checkbox" class="form-control" name="checkbox" value="Lunch" id="checkbox2" />
      </label>
      Lunch 
      <input type="checkbox" class="form-control"name="checkbox" value="Dinner" id="checkbox3" />
      <label for="checkbox3"></label>
      Dinner 
      <input type="checkbox" class="form-control"name="checkbox" value="Evening Tea" id="checkbox4" />
      <label for="checkbox4"></label>
      Evening Tea </td>
    </tr>
    <tr>
      <td>Description</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" class="form-control"id="textarea"></textarea></td>
    </tr>
    <tr>
      <td>Place info </td>
      <td><label for="label"></label>
      <input type="text" name="textfield2" class="form-control"id="label" /></td>
    </tr>
    <tr>
      <td colspan="2"><label for="Submit"></label>
      <input type="submit" name="Submit" value="add" id="Submit" /></td>
    </tr>
  </table>
  <table width="618" height="117" border="1" class="table table-bordered">
    <tr>
      <th width="103">Si No </th>
{#      <th width="62">Day</th>#}
      <th width="117">Food info </th>
      <th width="122">Description</th>
      <th width="87">Place info </th>
      <th width="87">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>

      <td>{{ forloop.counter }}</td>
{#      <td></td>#}
      <td>{{ i.foodinfo }}</td>
      <td>{{ i.descrptn }}</td>
      <td>&nbsp;{{ i.place }}</td>
      <td><a href="/rwt/busns_subpackage_del/{{ i.id }}/{{ pid }}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
