
{% extends "public/index2.html" %}
{% block body %}

<body>
<form method="post"action="/rwt/user_add_rating_post/">
    <table border="1" class="table table-bordered">
        <tr>
            <th>Si.no</th>
            <th>Rate</th>
            <th>Date</th>
            <th>Review</th>
            <th>User Info</th>
        </tr>
        {% for i in res %}
        <tr>
            <td>{{ forloop.counter }}</td>
{#            <td>{{ i.rate }}</td>#}
            {% ifequal i.rate "0" %}
         <td><img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "0.5" %}
      <td><img src="/static/star/half.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "1" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "1.5" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/half.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "2" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "2.5" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/half.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "3" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "3.5" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/half.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "4" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/empty.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "4.5" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/half.jpg" height="50px" width="50px"></td>
     {% endifequal %}
     {% ifequal i.rate "5" %}
      <td><img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px">
         <img src="/static/star/full.jpg" height="50px" width="50px"></td>
     {% endifequal %}
            <td>{{ i.date }}</td>
            <td>{{ i.review }}</td>
           <td>{{ i.USER.name }}<br><img src="{{ i.USER.image }}"width="80px"height="50px"><br>{{ i.USER.email }}</td>

        </tr>
        {% endfor %}
    </table>
</form>
</body>
{% endblock %}