<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/rwt/user_signup_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="323" height="420" border="1" class="table table-bordered">
    <tr>
      <td width="89" height="23">Name</td>
      <td width="218">
      <input type="text" name="textfield" class="form-control" id="textfield" /></td>
    </tr>
    <tr>
      <td height="23">Choose photo</td>
      <td>
      <input type="file" name="file" id="file" /></td>
    </tr>
       <tr>
      <td height="23">email</td>
      <td>
      <input type="email" name="textfield2" class="form-control" id="label" /></td>
    </tr>
    <tr>
      <td height="36">Place</td>
        <td><input type="text" name="textfield4" class="form-control" id="label3" /></td>
    </tr>
    <tr>
      <td height="23">Post</td>
      <td>
      <input type="text" name="tex_ptfield6" class="form-control" id="label5" /></td>
    </tr>
    <tr>
      <td height="23">Pin</td>
      <td>
      <input type="number" name="textfield7" class="form-control" id="label6" /></td>
    </tr>

    <tr>
      <td height="23">District</td>
      <td>
      <input type="text" name="textfield9" class="form-control" id="label8" /></td>
    </tr>


    <tr>
      <td height="23">Phone</td>
      <td>
      <input type="tel" name="textfield13" class="form-control" id="label12" /></td>
    </tr>
    <tr>
      <td height="23">Password</td>
      <td>
      <input type="password" name="textfield14" class="form-control" id="label13" /></td>
    </tr>
    <tr>
      <td height="23">Conform Password </td>
      <td>
      <input type="password" name="textfield15" class="form-control" id="label14" /></td>
    </tr>
    <tr>
      <td height="23" colspan="2"><label for="Submit"></label>
      <input type="submit" name="Submit" value="Submit" id="Submit" /></td>
    </tr>
  </table>
</form>

</body>
</html>
