<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="615" border="1">
  <tr>
    <th width="111">Si.No</th>
    <th width="130">Total days </th>
    <th width="98">Amount</th>
    <th width="129">package name</th>
    <th width="113">&nbsp;</th>
  </tr>
    {% for i in res %}

  <tr>
    <td height="42">&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.totldays }}</td>
    <td>{{ i.amount }}</td>
    <td>{{ i.packgenme }}</td>
    <td><a href="/rwt/user_booking_load/{{ i.id }}">BOOKING</a></td>
  <td><a href="/rwt/user_more_package_load/{{ i.id }}">More Package</a></td>

  </tr>
    {% endfor %}
</table>
</body>
</html>
