{% extends "admin/index.html" %}
{% block body %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/rwt/adm_ChngePaswrd_post/">
<table  class="table table-striped" style="width: 500px" align="center">
  <tr>
    <td width="130">Username</td>
    <td width="149">
      <input type="text" name="textfield" class="form-control" required/>


    </td>
  </tr>
  <tr>
    <td>Current Password </td>
    <td>
        <input type="password" name="textfield2" class="form-control" required />
    </td>
  </tr>
  <tr>
    <td>New Password </td>
    <td>
        <input type="password" name="textfield3" class="form-control" required />

    </td>
  </tr>
  <tr>
    <td>Re-type Password </td>
    <td>
        <input type="password" name="textfield4" class="form-control" required />

    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
        <input type="submit" name="Submit" value="Sign up" class="form-control" required />

    </td>
  </tr>
</table>
       </form>
</body>
{% endblock %}
