{% extends "admin/index.html" %}
{% block body %}
<body>
<table class="table table-bordered">
  <tr>
    <td width="83" height="35">SL No </td>
    <td width="68">Name</td>
    <td width="71">Profile</td>
    <td width="92">Address</td>
    <td width="147">email/Contact</td>
    <td width="69">About</td>
    <td width="58" colspan="2">&nbsp;</td>
  </tr>
    {% for i in res %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.name }}</td>
    <td><img src="{{ i.image }}"></td>
    <td>{{ i.place }}<br>{{ i.pin }}<br>{{ i.district }}<br>{{ i.post }}</td>
    <td>{{ i.contact }}</td>
    <td>{{ i.about }}</td>
    <td width="58"><a href=""class="btn btn-outline-danger">block</a></td>

  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}